.section_constructor {
    width: 600px;
    box-sizing: border-box;
}

.constructor_container {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.change_elements {
    overflow-y: scroll;
    max-height: calc(100vh - 520px);
}

.element {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.result {
    width: 568px;
    display: flex;
    column-gap: 40px;
    justify-content: flex-end;
}

.total_price {
    display: flex;
    column-gap: 8px;
    align-items: center;
}