.card {
    width: 272px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.price {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
}

.name {
    text-align: center;
}